{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}

{% case section.settings.colors %}
  {% when 'white' %}
    {%- assign color_scheme = 'color-scheme--white' -%}
  {% when 'light' %}
    {%- assign color_scheme = 'color-scheme--light' -%}
  {% when 'accent' %}
    {%- assign color_scheme = 'color-scheme--accent' -%}
  {% when 'dark' %}
    {%- assign color_scheme = 'color-scheme--dark' -%}
{% endcase %}

{% assign animation_offset = 2 %}
{% assign animation_order = 1 %}

{% liquid 
  case section.settings.section-width
    when 'content'
      assign section_width = 'content'
    when 'full'
      assign section_width = 'full'
  endcase

  assign background_matches = false
  if section.settings.colors == 'white'
    assign background_matches = true
  endif
%}

<style>
  [data-wetheme-section-id="{{ section.id }}"] .sitewide--title-wrapper,
  [data-wetheme-section-id="{{ section.id }}"] .homepage-sections--title {
    text-align: {{ section.settings.text_alignment_mobile }} !important;
  }
  
  /* Force 3:2 Image Aspect Ratio */
  [data-wetheme-section-id="{{ section.id }}"] .img {
    aspect-ratio: 3 / 2;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  [data-wetheme-section-id="{{ section.id }}"] .img .responsive-image-wrapper,
  [data-wetheme-section-id="{{ section.id }}"] .img img,
  [data-wetheme-section-id="{{ section.id }}"] .img svg {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    padding-top: 0 !important; /* Overrides native theme responsive image padding */
  }
  
  @media (min-width: 768px) {
    [data-wetheme-section-id="{{ section.id }}"] .sitewide--title-wrapper,
    [data-wetheme-section-id="{{ section.id }}"] .homepage-sections--title {
      text-align: {{ section.settings.text_alignment }} !important;
    }
  }
</style>

<div
  class="wrapper-spacing--v{% unless section_width == 'full' %} wrapper-spacing--h{% endunless %} {% unless section_width == 'content' %}{{ color_scheme }}{% endunless %} image-with-text__container{% unless section.settings.text_overlapping_image %} feature-row--no-overlapping{% else %} feature-row--overlapping{% endunless %}"
  data-wetheme-section-type="image--image-with-text" 
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>

  {% capture image_layout %}
    <div class="grid__item homepage-content--image homepage-content--{{ section.id }}{% if section.settings.text_overlapping_image %} overlapping-text{% else %} medium--one-half large--one-half{% endif %}{% if settings.animations_enabled %} kb-enabled{% endif %}{% if section_width == 'content' %} block-radius{% endif %}">
      <div>
        {% if section.settings.image != blank %}
          <div id="image-with-text--{{ section.id }}" class="img">
            {% render 'responsive-image', image: section.settings.image, sizes: '100vw', allow_stretch: true %}
          </div>
        {% else %}
          <div id="image-with-text--{{ section.id }}" class="placeholder-background img">
            {% if section.settings.text_overlapping_image %}
              {{ 'collection-4' | placeholder_svg_tag: 'icon icon--placeholder icon--placeholder--subdued-desktop' }}
            {% else %}
              {{ 'collection-4' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endcapture %}

  {% if section_width == 'content' %}
    <div class="width--content{% unless background_matches %} wrapper-spacing--v--content wrapper-spacing--h--content{% endunless %} {{ color_scheme }}">
  {% endif %}

    <div class="homepage-indiv-section-wrapper homepage-featured-content-wrapper feature-row__text--{{ section.settings.layout }} feature-row__text-alignment--{{ section.settings.text_alignment }} feature-row__text-alignment-mobile--{{ section.settings.text_alignment_mobile }}">
      {{ image_layout }}

      <div class="feature_row__image_wrapper{% if section.settings.text_overlapping_image %} homepage-featured-content-box{% else %} medium--one-half large--one-half{% endif %}">
        {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}

          {% unless section.settings.text_overlapping_image %}
            <div class="no-overlap-content-box">
          {% endunless %}

            <div class="homepage-featured-content-box-inner{% if request.visual_preview_mode %} section-preview{% else %} show-on-scroll{% endif %}">

              {% if section.settings.title != blank %}
                <div class="sitewide--title-wrapper" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
                  <h1 class="homepage-sections--title {{ section.settings.desktop-heading-size }} {{ section.settings.mobile-heading-size }}">{{ section.settings.title | escape }}</h1>
                </div>
                {% assign animation_order = animation_order | plus: 1 %}
              {% endif %}

              {% if section.settings.text != blank %}
                <div class="rte featured-row__subtext textarea text-link-animated richtext-block scaled-text" style="--text-scale: {{ section.settings.desktop-text-size }}; --text-scale-mobile: {{ section.settings.mobile-text-size }};" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
                  {{ section.settings.text }}
                </div>
                {% assign animation_order = animation_order | plus: 1 %}
              {% endif %}

              {% if section.settings.button_label != blank %}
                {% if section.settings.override_button_colors %}
                  {% render 'button-color-overrides',
                    id: section.id,
                    style: section.settings.buttons_style,
                    text_color: section.settings.button_text_color,
                    background_color: section.settings.button_background_color
                  %}
                {% endif %}

                {% capture button_attr %}
                  data-animate
                  data-animate-order="{{ animation_order | plus: animation_offset }}"
                {% endcapture %}
                
                {% render 'dynamic-section-button',
                  id: section.id,
                  link: section.settings.button_link,
                  label: section.settings.button_label,
                  style: section.settings.buttons_style,
                  div_classes: 'clearfix',
                  a_classes: 'homepage-featured-box-btn',
                  attributes: button_attr
                %}
              {% endif %}

            </div>

          {% unless section.settings.text_overlapping_image %}
            </div>
          {% endunless %}
        {% endif %}
      </div>
    </div>

  {% if section_width == 'content' %}
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Hero - Image with text",
  "class": "image-with-text-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "t:all.Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:all.Image",
      "info": "t:sections.image--image-with-text.settings.image.info"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "t:all.image_position_desktop",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:all.Heading",
      "default": "Hero Image with Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:all.Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:all.Alignment_desktop",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Centered"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "t:all.Alignment_mobile",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Centered"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "text_overlapping_image",
      "label": "t:sections.image--image-with-text.settings.text_overlapping_image.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "select",
      "id": "desktop-heading-size",
      "label": "t:all.heading_font_size",
      "default": "h3",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "range",
      "id": "desktop-text-size",
      "label": "t:all.Body_text_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "select",
      "id": "mobile-heading-size",
      "label": "t:all.heading_font_size",
      "default": "h3-mobile",
      "options": [
        { "value": "h1-mobile", "label": "H1" },
        { "value": "h2-mobile", "label": "H2" },
        { "value": "h3-mobile", "label": "H3" },
        { "value": "h4-mobile", "label": "H4" },
        { "value": "h5-mobile", "label": "H5" },
        { "value": "h6-mobile", "label": "H6" }
      ]
    },
    {
      "type": "range",
      "id": "mobile-text-size",
      "label": "t:all.Body_text_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:all.Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:all.Button_link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:all.Button_label"
    },
    {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "filled",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_button_colors",
      "label": "t:all.Button_color_override",
      "default": false,
      "info": "t:all.Button_color_override_info"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:all.Primary_color",
      "default": "#E68819",
      "visible_if": "{{ section.settings.override_button_colors }}"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:all.Secondary_color",
      "default": "#ffffff",
      "info": "t:all.Secondary_button_color_info",
      "visible_if": "{{ section.settings.override_button_colors }}"
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section-width",
      "label": "t:all.Width",
      "info": "t:all.Section_width_info",
      "default": "full",
      "options": [
        {
          "value": "content",
          "label": "t:all.Content_width"
        },
        {
          "value": "full",
          "label": "t:all.Full_width"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "light",
      "options": [
        {
          "value": "white",
          "label": "t:all.Default"
        },
        {
          "value": "light",
          "label": "t:all.First"
        },
        {
          "value": "accent",
          "label": "t:all.Second"
        },
        {
          "value": "dark",
          "label": "t:all.Third"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero - Image with text"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}