{{ 'section-text-adverts-with-icon.min.css' | asset_url | stylesheet_tag }}

{% if section.settings.override_button_colors %}
  {% render 'button-color-overrides',
    id: section.id,
    style: section.settings.buttons_style,
    text_color: section.settings.button_text_color,
    background_color: section.settings.button_background_color
  %}
{% endif %}

<div
	class="text-adverts-with-icon wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}{% if request.visual_preview_mode %} section-preview{% else %} show-on-scroll{% endif %}"
  data-wetheme-section-type="text-adverts-with-icon"
	data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px; --icon-size: {{ section.settings.icon_size }};"
>
  <div class="width--content"> 
    {% if section.blocks.size > 0 %}
      <div class="text-adverts-with-icon__blocks text-adverts-with-icon__blocks--{{ section.settings.text_alignment }}{% if section.settings.show_dividers %} text-adverts-with-icon__blocks--with-dividers{% endif %}">
        {% for block in section.blocks %}
          {% liquid
            assign is_advert_link = false
            if block.settings.link != blank and block.settings.button_label == blank
              assign is_advert_link = true
            endif
          %}
          
          {% unless forloop.first %}
            <hr class="text-adverts-with-icon__divider">
          {% endunless %}
          
          <div class="text-adverts-with-icon__block" data-animate data-animate-order="{{ forloop.index }}" {{ block.shopify_attributes }}>
            
            {% comment %} Icon {% endcomment %}
            {% liquid
              assign icon = block.settings.icon
              if block.settings.custom_icon != blank
                assign icon = block.settings.custom_icon
              endif
            %}
            
            {% if icon != 'none' and icon != blank %}
              <div class="text-adverts-with-icon__icon">
                {% if block.settings.custom_icon != blank %}
                  {% render 'responsive-image', image: block.settings.custom_icon, allow_stretch: true %}
                {% else %}
                  {% render 'theme-icon', icon: icon %}
                {% endif %}
              </div>
            {% endif %}
            
            {% comment %} Heading {% endcomment %}
            {% if block.settings.title != blank %}
              <h2 class="text-adverts-with-icon__heading h5{% unless is_advert_link %} text-link-animated{% endunless %}">{{ block.settings.title }}</h2>
            {% endif %}
            
            {% comment %} Text {% endcomment %}
            {% if block.settings.text != blank %}
              <div class="text-adverts-with-icon__text rte richtext-block{% unless is_advert_link %} text-link-animated{% endunless %}">{{ block.settings.text }}</div>
            {% endif %}
            
            {% comment %} Button {% endcomment %}
            {% if block.settings.button_label != blank %}
              {% render 'dynamic-section-button',
                id: section.id,
                link: block.settings.link,
                label: block.settings.button_label,
                style: section.settings.buttons_style,
                div_classes: 'text-adverts-with-icon__button'
              %}
            {% endif %}
            
            {% if is_advert_link %}
              <a href="{{ block.settings.link }}" class="text-adverts-with-icon__overlay-link" aria-label="{{ block.settings.title | strip_html }}"></a>
            {% endif %}
            
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.text-adverts-with-icon.name",
  "class": "section--text-adverts-with-icon",
  "settings": [
   {
      "type": "select",
      "id": "icon_size",
      "label": "t:sections.text-adverts-with-icon.settings.icon_size.label",
      "default": "20px",
      "options": [
        {
          "value": "20px",
          "label": "t:all.Small"
        },
        {
          "value": "30px",
          "label": "t:all.Medium"
        },
        {
          "value": "50px",
          "label": "t:all.Large"
        }
      ]
   },
   {
      "type": "checkbox",
      "id": "show_dividers",
      "label": "t:sections.text-adverts-with-icon.settings.show_dividers.label",
      "default": true
   },
   {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:all.Text_alignment",
      "default": "center"
   },
   {
      "type": "header",
      "content": "t:all.Buttons"
   },
   {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "filled",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        }
      ]
   },
   {
      "type": "checkbox",
      "id": "override_button_colors",
      "label": "t:all.Button_color_override",
      "default": false,
      "info": "t:all.Button_color_override_info"
   },
   {
      "type": "color",
      "id": "button_background_color",
      "label": "t:all.Primary_color",
      "default": "#E68819",
      "visible_if": "{{ section.settings.override_button_colors }}"
   },
   {
      "type": "color",
      "id": "button_text_color",
      "label": "t:all.Secondary_color",
      "default": "#ffffff",
      "info": "t:all.Secondary_button_color_info",
      "visible_if": "{{ section.settings.override_button_colors }}"
   },
   {
      "type": "header",
      "content": "t:all.Layout"
   },
   {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "t:all.px",
      "default": 72
   },
   {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "t:all.px",
      "default": 72
   },
   {
      "type": "header",
      "content": "t:all.Color"
   },
   {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
         {
            "value": "white",
            "label": "t:all.Default"
         },
         {
            "value": "light",
            "label": "t:all.First"
         },
         {
            "value": "accent",
            "label": "t:all.Second"
         },
         {
            "value": "dark",
            "label": "t:all.Third"
         }
      ]
   }
  ],
  "blocks": [
    {
      "type": "text-advert",
      "name": "t:sections.text-adverts-with-icon.blocks.text-advert.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:all.Icon",
          "default": "star",
          "options": [
            {
              "value": "none",
              "label": "t:all.None"
            },
            {
              "value": "arrow-right-circle",
              "label": "t:all.Arrow_circle"
            },
            {
              "value": "book",
              "label": "t:all.Book"
            },
            {
              "value": "cake",
              "label": "t:all.Cake"
            },
            {
              "value": "car",
              "label": "t:all.Car"
            },
            {
              "value": "multi-bubble",
              "label": "t:all.Chat"
            },
            {
              "value": "chat",
              "label": "t:all.Chat_bubble"
            },
            {
              "value": "chat-smile",
              "label": "t:all.Chat_bubble_with_smile"
            },
            {
              "value": "check-circle",
              "label": "t:all.Check_circle"
            },
            {
              "value": "clock",
              "label": "t:all.Clock"
            },
            {
              "value": "xmark-circle",
              "label": "t:all.Cross"
            },
            {
              "value": "crown",
              "label": "t:all.Crown"
            },
            {
              "value": "cup",
              "label": "t:all.Cup"
            },
            {
              "value": "service",
              "label": "t:all.Customer_service"
            },
            {
              "value": "delivery-truck",
              "label": "t:all.Delivery"
            },
            {
              "value": "leaf",
              "label": "t:all.Eco"
            },
            {
              "value": "mail",
              "label": "t:all.Email"
            },
            {
              "value": "exchange",
              "label": "t:all.Exchange"
            },
            {
              "value": "fire-flame",
              "label": "t:all.Fire"
            },
            {
              "value": "flag",
              "label": "t:all.Flag"
            },
            {
              "value": "gift",
              "label": "t:all.Gift"
            },
            {
              "value": "globe",
              "label": "t:all.Globe"
            },
            {
              "value": "handbag",
              "label": "t:all.Handbag"
            },
            {
              "value": "heart",
              "label": "t:all.Heart"
            },
            {
              "value": "help-circle",
              "label": "t:all.Help_circle"
            },
            {
              "value": "home-smile",
              "label": "t:all.Home_with_smile"
            },
            {
              "value": "info",
              "label": "t:all.Info"
            },
            {
              "value": "map-pin",
              "label": "t:all.Map_pin"
            },
            {
              "value": "measuring_tape",
              "label": "t:all.Measuring_tape"
            },
            {
              "value": "moon",
              "label": "t:all.Moon"
            },
            {
              "value": "phone",
              "label": "t:all.Phone"
            },
            {
              "value": "plus-circle",
              "label": "t:all.Plus_circle"
            },
            {
              "value": "price-tag",
              "label": "t:all.Price_tag"
            },
            {
              "value": "question-answer",
              "label": "t:all.Question_and_answer"
            },
            {
              "value": "quote",
              "label": "t:all.Quote"
            },
            {
              "value": "recycle",
              "label": "t:all.Recycle"
            },
            {
              "value": "restaurant",
              "label": "t:all.Restaurant"
            },
            {
              "value": "emoji",
              "label": "t:all.Smiley"
            },
            {
              "value": "sparks",
              "label": "t:all.Sparks"
            },
            {
              "value": "star",
              "label": "t:all.Star"
            },
            {
              "value": "store",
              "label": "t:all.Store"
            },
            {
              "value": "sun",
              "label": "t:all.Sun"
            },
            {
              "value": "takeaway",
              "label": "t:all.Takeaway"
            },
            {
              "value": "trophy",
              "label": "t:all.Trophy"
            },
            {
              "value": "truck",
              "label": "t:all.Truck"
            },
            {
              "value": "umbrella",
              "label": "t:all.Umbrella"
            },
            {
              "value": "wallet",
              "label": "t:all.Wallet"
            },
            {
              "value": "warning-circle",
              "label": "t:all.Warning_circle"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:all.Custom_icon",
          "info": "t:all.Aspect_ratio_of_1_1_recommended"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:all.Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Draw attention to key selling points.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:all.Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:all.Button_label"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "t:sections.text-adverts-with-icon.name",
      "blocks": [
        {
          "type": "text-advert",
          "settings": {
            "icon": "truck",
            "title": "Fast delivery"
          }
        },
        {
          "type": "text-advert",
          "settings": {
            "icon": "exchange",
            "title": "Easy returns"
          }
        },
        {
          "type": "text-advert",
          "settings": {
            "icon": "globe",
            "title": "Eco friendly"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}